.burger {
  display: none;
  align-items: center;
  padding: 0;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 0 !important;
  background-color: transparent;
  box-shadow: none;

  @include max(1400) {
    display: flex;
  }
  @include max(540) {
    position: absolute;
    top: 30px;
    right: 30px;
    flex-direction: row-reverse;
  }
}

.burger__btn {
  flex: none;
  margin-right: 20px;

  @include max(768) {
    margin-right: 15px;
  }
  @include max(540) {
    margin-right: 0;
    margin-left: 15px;
  }
  svg {
    stroke: #fff;
    width: 60px;
    height: 60px;

    @include max(768) {
      width: 40px;
      height: 40px;
    }
  }
}

.burger__text {
  font-family: 'HelveticaNowDisplay-Medium', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;

  @include max(768) {
    font-size: 14px;
  }
}

.header--dark {
  .burger__btn {
    svg {
      stroke: $text;
    }
  }
  .burger__text {
    color: $text;
  }
}
