.popup__layer {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  opacity: .5;
  background-color: #413033;
}

.popup {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  display: none;
  overflow: auto;
  width: calc(100% - 200px);
  max-height: 95vh;
  padding: 180px 180px;
  transform: translate(-50%, -50%);
  background-color: #f8f8f8;
}

.popup__close {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  svg {
    stroke: $text;
    width: 60px;
    height: 60px;
  }
}

//begin #POPUP SHARE
.popup-share__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.popup-share__title {
  font-weight: 500;
  line-height: 1;
  margin: 0;
  color: #413033;

  @include responsive-font(40, 20);
}

.popup-share__social-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.popup-share__social-item {
  margin: 0 20px;
  list-style: none;
}

.popup-share__social-link {
  display: block;
  svg {
    stroke: $text;
    width: 60px;
    height: 60px;
  }
}

.popup-share__link {
  display: flex;
  border: 1px solid #413033;
  border-radius: 3px;
}

.popup-share__link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  padding: 15px;
  border-right: 1px solid #413033;
  svg {
    stroke: $text;
    width: 30px;
    height: 30px;
  }
}

.popup-share__link-text {
  font-family: $font-bold;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  padding: 15px;
  text-align: center;
  color: #413033;
}

//end #POPUP SHARE
