.popup__layer {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  opacity: .5;
  background-color: #413033;
}

.popup {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  display: none;
  overflow: auto;
  width: calc(100% - 200px);
  max-height: 96vh;
  padding: 180px 180px;
  transform: translate3d(-50%, -50%, .1px);
  background-color: #f8f8f8;

  @include max(1600) {
    padding: 180px 130px;
  }
  @include max(1400) {
    width: calc(100% - 100px);
    padding: 150px 100px;
  }
  @include max(1024) {
    min-height: 360px;
    padding: 100px 30px;
  }
  @include max(768) {
    width: calc(100% - 60px);
    min-height: 0;
    padding: 80px 30px 50px 30px;
  }
}

.popup__close {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: $transition-hover;
  background-color: transparent;

  @include max(1024) {
    width: 50px;
    height: 50px;
  }
  @include max(540) {
    width: 40px;
    height: 40px;
  }
  &:hover {
    background-color: #fff;
  }
  svg {
    stroke: $text;
    width: 60px;
    height: 60px;

    @include max(1024) {
      width: 50px;
      height: 50px;
    }
    @include max(540) {
      width: 40px;
      height: 40px;
    }
  }
}

//begin #POPUP SHARE
.popup-share__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include max(1200) {
    flex-wrap: wrap;
  }
  @include max(1024) {
    padding-top: 30px;
  }
  @include max(540) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.popup-share__title {
  font-weight: 500;
  line-height: 1;
  margin: 0;
  color: #413033;

  @include responsive-font(40, 30);
  @include max(540) {
    margin-bottom: 25px;
  }
}

.popup-share__social-list {
  display: flex;
  margin: 0;
  padding: 0;

  @include max(540) {
    flex-wrap: wrap;
  }
}

.popup-share__social-item {
  margin: 0 20px;
  list-style: none;

  @include max(1200) {
    &:last-child {
      margin-right: 0;
    }
  }
  @include max(540) {
    margin: 0 18px 18px 0;
    &:first-child {
      margin-left: 0;
    }
  }
  @include max(375) {
    margin: 0 30px 18px 0;
  }
}

.popup-share__social-link {
  display: block;
  svg {
    stroke: $text;
    width: 60px;
    height: 60px;

    @include max(768) {
      width: 50px;
      height: 50px;
    }
    @include max(375) {
      width: 60px;
      height: 60px;
    }
  }
}

.popup-share__link {
  display: flex;
  width: 100%;
  max-width: 490px;
  border: 1px solid #413033;
  border-radius: 3px;

  @include max(1200) {
    max-width: 100%;
    margin-top: 25px;
  }
}

.popup-share__link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  padding: 15px;
  border-right: 1px solid #413033;

  @include max(540) {
    padding: 10px;
  }

  svg {
    stroke: $text;
    width: 30px;
    height: 30px;
  }
}

.popup-share__link-text {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 430px;
  padding: 15px;
  text-align: center;

  @include max(1200) {
    max-width: 100%;
  }
  @include max(540) {
    padding: 10px;
  }
  span {
    font-family: $font-bold;
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #413033;
  }
}

//end #POPUP SHARE

//begin #POPUP CALLBACK
.popup-callback__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  .contacts-form__title {
    line-height: 1.4;
    margin-bottom: 64px;

    @include responsive-font(40, 25);
    @include max(1024) {
      margin-bottom: 40px;
    }
    @include max(768) {
      margin-bottom: 25px;
    }
    @include max(540) {
      margin-bottom: 15px;
    }
  }
  .contacts-form__form-submit {
    @include max(768) {
      height: 40px;
    }
  }
}

//end #POPUP CALLBACK
