//begin index-procedure
.index-procedure
  .container
    //begin index-procedure__row
    .index-procedure__row.index-procedure__row--top.animate__animated
      .index-procedure__text
        h3.index-procedure__title Injectable treatments<br>with proven efficiency
        ul.index-procedure__list
          li.index-procedure__list-item Botox®
          li.index-procedure__list-item Facial Contouring
          li.index-procedure__list-item Kybella®
      .index-procedure__img.index-procedure__img--top
        img(src="assets/img/index-procedure-01.jpg" alt="picture")

        //begin decor
        .index-procedure__decor-top-line.animate-decor
        .index-procedure__decor-circle.animate-decor
          include ../../elements/decor-circle-200
        //end decor
    //end index-procedure__row

    //begin index-procedure__row
    .index-procedure__row.index-procedure__row--bottom.animate__animated
      .index-procedure__img
        img(src="assets/img/index-procedure-02.jpg" alt="picture")

        //begin decor
        .index-procedure__decor-bottom-line.animate-decor
        //end decor
      .index-procedure__text
        h3.index-procedure__title Exceptional results<br>in dermatological treatments<br>for sensitive men's concerns
    //end index-procedure__row

  //begin decor
  .index-procedure__decor-diagonal.animate-decor
    include ../../elements/decor-diagonal
  //end decor
//end index-procedure