//begin blog-header
.blog-header
  .container
    h2.blog-header__title Contacts

  //begin decor
  .blog-header__decor
    .blog-header__decor-line.animate-decor
    .blog-header__decor-circle.animate-decor
      include ../../elements/decor-circle-30
  //end decor
//end blog-header