//begin contacts-form
.contacts-form
  .container.animate__animated
    .contacts-form__inn
      h2.contacts-form__title Сall Back Request
      //begin contacts-form__form
      form.contacts-form__form
        input(type='text' placeholder='Name').contacts-form__form-input
        input(type='tel' placeholder='Phone Number').contacts-form__form-input
        input(type='submit' value='Call Me').contacts-form__form-submit.btn.btn--transparent
      //end contacts-form__form
//end contacts-form