//begin contacts-second
.contacts-second
  .container
    //begin contacts__map
    .contacts__map.animate__animated
      #map
    //end contacts__map
    
    //begin contacts__info
    .contacts__info.animate__animated
      a(href="https://goo.gl/maps/x8KEjEjyfRM3PzMN7" target="_blank" rel="nofollow noopener noreferrer").contacts__adress 20 Squadron Blvd. Suite 400, New City, NY 10956
      a(href="tel:8456348800").contacts__phone 845 634 8800
      a(href="mailto:hello@rocklandbeauty.com").contacts__mail hello@rocklandbeauty.com
      a(href="#" data-popup='popup-callback').btn.btn--transparent.contacts__btn.popup-open Schedule Appointment
      h3.contacts__schedule-title Hours of Operation
      .contacts__schedule
        .contacts__schedule-row
          .contacts__schedule-td Monday:
          .contacts__schedule-td 7:30AM to 5:30PM
        .contacts__schedule-row
          .contacts__schedule-td Tuesday:
          .contacts__schedule-td 7:30AM to 7:30PM
        .contacts__schedule-row
          .contacts__schedule-td Wednesday:
          .contacts__schedule-td 7:30AM to 5:30PM
        .contacts__schedule-row
          .contacts__schedule-td Thursday:
          .contacts__schedule-td 7:30AM to 6:30PM
        .contacts__schedule-row
          .contacts__schedule-td Friday:
          .contacts__schedule-td 7:30AM to 6:30PM
    //end contacts__info
//end contacts-second