//begin blog-second
.blog-second
  .container
    //begin blog-second__item
    .blog-second__item.animate__animated
      .blog-second__item-img
        img(src="assets/img/blog-01.jpg" alt="picture")
      .blog-second__item-descr
        h2.blog-second__item-title Botox Rumors
        p Combine Botox and filler for 15% off through June. Look years younger immediately. Lose the wrinkles, regain the contours! Call 626 449 3830 for an appointment, information, or a complimentary consultation.
      a(href="#").blog-second__item-more Learn more
    //end blog-second__item

    //begin blog-second__item
    .blog-second__item.animate__animated
      .blog-second__item-img
        img(src="assets/img/blog-02.jpg" alt="picture")
      .blog-second__item-descr
        h2.blog-second__item-title What do you know about Botox and Filler?
        p Combine Botox and filler for 15% off through June. Look years younger immediately. Lose the wrinkles, regain the contours!
      a(href="#").blog-second__item-more Learn more
    //end blog-second__item

    //begin blog-second__item
    .blog-second__item.animate__animated
      .blog-second__item-img
        img(src="assets/img/blog-03.jpg" alt="picture")
      .blog-second__item-descr
        h2.blog-second__item-title Summer Procedures
        p Combine Botox and filler for 15% off through June. Look years younger immediately. Lose the wrinkles, regain the contours! Call 626 449 3830 for an appointment, information, or a complimentary consultation.
      a(href="#").blog-second__item-more Learn more
    //end blog-second__item

    //begin blog-second__item
    .blog-second__item.animate__animated
      .blog-second__item-img
        img(src="assets/img/blog-03.jpg" alt="picture")
      .blog-second__item-descr
        h2.blog-second__item-title Summer Procedures
        p Combine Botox and filler for 15% off through June. Look years younger immediately. Lose the wrinkles, regain the contours! Call 626 449 3830 for an appointment, information, or a complimentary consultation.
      a(href="#").blog-second__item-more Learn more
    //end blog-second__item

    //begin blog-second__item
    .blog-second__item.animate__animated
      .blog-second__item-img
        img(src="assets/img/blog-01.jpg" alt="picture")
      .blog-second__item-descr
        h2.blog-second__item-title Botox Rumors
        p Combine Botox and filler for 15% off through June. Look years younger immediately. Lose the wrinkles, regain the contours! Call 626 449 3830 for an appointment, information, or a complimentary consultation.
      a(href="#").blog-second__item-more Learn more
    //end blog-second__item

    //begin blog-second__item
    .blog-second__item.animate__animated
      .blog-second__item-img
        img(src="assets/img/blog-02.jpg" alt="picture")
      .blog-second__item-descr
        h2.blog-second__item-title What do you know about Botox and Filler?
        p Combine Botox and filler for 15% off through June. Look years younger immediately. Lose the wrinkles, regain the contours!
      a(href="#").blog-second__item-more Learn more
    //end blog-second__item

    .blog-second__footer
      button.btn.btn--transparent View All

  //begin DECOR
  .blog-second__decor-line.animate-decor
  //end DECOR
//end blog-second
