//begin index-top
.index-top(style='background-image: url(\'assets/img/bg-article-top.jpg\')')
  .container.animate__animated
    .container__inn
      h2.index-top__title What do you<br>know about<br>Botox and Filler?

    //begin decor
    .index-top__decor
      .index-top__decor-line.animate-decor
      .index-top__decor-circle.animate-decor
        include ../../elements/decor-circle-100
    //end decor
//end index-top