.about-banner {
  background-color: #e3e3f5;
  .container {
    padding-top: 150px;
    padding-bottom: 150px;

    @include max(1024) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @include max(768) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .index-top__decor {
    position: relative;
    margin-bottom: 75px;
    transform: translateY(0);
  }
}
.about-banner__title {
  font-weight: 500;
  line-height: 1.75;
  margin: 0 auto;
  max-width: 980px;
  text-align: center;
  color: #413033;

  @include responsive-font(40, 20);
}
