.blog-second {
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 150px;

    @include max(1024) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @include max(768) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

.blog-second__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(33.33% - 53px);
  margin-bottom: 50px;
@include max(1400) {
  width: calc(33.33% - 25px);
}
  @include max(768) {
  width: calc(50% - 15px);

  }
  @include max(375) {
    width: 100%;
  }
}


.blog-second__item-img {
  position: relative;
  margin-bottom: 57px;
  @include max(1024) {
    margin-bottom: 40px;
  }
  @include max(768) {
    margin-bottom: 30px;
  }
  img {
    width: 100%;
    //height: 520px;
    //object-fit: cover;
    //object-position: center;
    //@include max(1400) {
    //  height: 400px;
    //}
  }
}

.blog-second__item-descr {
  margin-bottom: 25px;
  p {
    font-family: $font;
    font-weight: normal;
    line-height: 1.6;
    color: #413033;

    @include responsive-font(25, 14);
  }
}

.blog-second__item-title {
  font-family: $font-title;
  font-weight: 500;
  line-height: 1.75;
  margin-bottom: 30px;
  color: #413033;

  @include responsive-font(40, 20);
  @include max(1024) {
    line-height: 1.5;
  }
  @include max(768) {
    margin-bottom: 20px;
  }
}

.blog-second__item-more {
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: auto;
  text-decoration: none;
  color: #413033;
  border-bottom: 1px solid $text;
  @include max(768) {
    height: 40px;
  }
}

.blog-second__footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  @include max(768) {
    padding-top: 30px;
  }
}

//begin #DECOR
.blog-second__decor-line {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: calc(100% - 200px);
  height: 1px;
  margin: auto;
  pointer-events: none;

  @include max(1024) {
    width: calc(100% - 100px);
  }
  @include max(768) {
    width: calc(100% - 60px);
  }
  &.active {
    &::before {
      animation: lineDraw 1s linear forwards .5s;
    }
  }
  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    margin: auto;
    content: '';
    background-color: $text;
  }
}

//end #DECOR
