.contacts-form{
  background-color: #e3e3f5;
  .container {
    padding-top: 170px;
    padding-bottom: 220px;

    @include max(1024) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @include max(768) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

.contacts-form__inn{
  max-width: 1290px;
  margin: 0 auto;
}


.contacts-form__title {
  font-size: 40px;
  line-height: 1.75;
  margin-bottom: 65px;
  color: #413033;

  @include responsive-font(40, 20);
  //@include max(1024) {
  //  margin-bottom: 50px;
  //}
  //@include max(768) {
  //  margin-bottom: 35px;
  //}
}

.contacts-form__form {
  display: flex;
  justify-content: space-between;

  //@include max(1024) {
  //  margin-bottom: 100px;
  //}
  //@include max(768) {
  //  flex-wrap: wrap;
  //  margin-bottom: 50px;
  //}
}

.contacts-form__form-input,
.contacts-form__form-submit {
  width: calc(33.33% - 53px);
  max-width: 100%;
  height: 60px;

  //@include max(1024) {
  //  width: calc(33.33% - 25px);
  //}
}
//.contacts-form__form-input {
//  @include max(768) {
//    width: calc(50% - 25px);
//    margin-bottom: 30px;
//  }
//  @include max(540) {
//    width: 100%;
//    height: 40px;
//  }
//}

//.contacts-form__form-submit {
//  @include max(768) {
//    width: 100%;
//  }
//}