.cosmetics-articles {
  position: relative;
  .container {
    padding-top: 150px;
    padding-bottom: 150px;

    @include max(1024) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @include max(768) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

.cosmetics-articles__inn {
  max-width: 1290px;
  margin: 0 auto;
}

.cosmetic-article {
  display: flex;
  align-items: center;
  &:nth-child(even) {
    flex-direction: row-reverse;
    .cosmetic-article__text {
      padding-right: 100px;
      padding-left: 0;
    }
  }
}

.cosmetic-article__img-wrap {
  display: flex;
  justify-content: flex-start;
  width: 43%;
}

.cosmetic-article__img {
  position: relative;
  width: 100%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.cosmetic-article__img--sm {
  width: 67%;
}

.cosmetic-article__img--video {
  &:hover {
    &::before,
    &::after {
      opacity: 1;
    }
  }
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: '';
    transition: opacity $transition-hover;
    pointer-events: none;
    opacity: 0;
  }
  &::before {
    background-color: rgba(65, 48, 51, .3);
  }
  &::after {
    width: 100px;
    height: 100px;
    background-image: url('../img/play.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}

.cosmetic-article__text {
  width: 57%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  p {
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 0;
    color: #413033;

    @include responsive-font(25, 14);
  }
}

.cosmetic-article__title {
  font-family: $font-title;
  font-weight: 500;
  line-height: 1.75;
  color: #413033;

  @include responsive-font(40, 20);
}

//begin #DECOR
.cosmetics-articles__decor {
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
  width: 100%;
  max-width: 1290px;
  height: 100px;
  margin: auto;
  pointer-events: none;
  &::before {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 0;
    height: 1px;
    margin: auto;
    content: '';
    transform: translateX(216px);
    background-color: $text;
  }
  &.active {
    &::before {
      animation: lineDraw 1s linear forwards 1.5s;
    }
  }
}

.cosmetics-articles__decor-circle {
  position: absolute;
  top: 0;
  left: 0;
  fill: transparent;
  stroke: $text;
  width: 100px;
  height: 100px;
  margin: auto;
  transform: translateX(-50%);
  pointer-events: none;

  stroke-dasharray: 311;
  stroke-dashoffset: 311;
  //@include max(768) {
  //  left: calc(66% - 60px);
  //}
  //@include max(540) {
  //  width: 80px;
  //  height: 80px;
  //  top: -40px;
  //  left: calc(66% - 50px);
  //}
  &.active {
    animation: svgDraw 1s linear forwards .5s;
  }
}

//end #DECOR
