.cosmetics-compare {
  background-color: #f8f8f8;
  .container {
    display: flex;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;

    @include max(1024) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @include max(768) {
      flex-direction: column;
      padding-top: 100px;
      padding-bottom: 50px;
    }
    @include max(540) {
      padding-top: 50px;
    }
  }
}

.cosmetics-compare__img {
  position: relative;
  display: flex;
  width: 50%;

  @include max(768) {
    width: 100%;
    margin-bottom: 50px;
  }
  &::before {
    position: absolute;
    z-index: 1;
    top: -30px;
    left: 50%;
    width: 1px;
    height: calc(100% + 60px);
    content: '';
    background-color: #413033;

    @include max(540) {
      top: -15px;
      height: calc(100% + 30px);
    }
  }
}

.cosmetics-compare__img-before,
.cosmetics-compare__img-after {
  position: relative;
  width: 50%;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.cosmetics-compare__img-title {
  font-family: $font-title;
  font-weight: 500;
  line-height: 1.67;
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  @include responsive-font(45, 20);
  @include max(540) {
    bottom: 25px;
  }
  @include max(375) {
    bottom: 15px;
  }
}

.cosmetics-compare__descr {
  width: 50%;
  padding-left: 100px;

  @include max(1200) {
    padding-left: 50px;
  }
  @include max(768) {
    width: 100%;
    padding-left: 0;
  }
  p {
    font-family: $font;
    font-size: 25px;
    font-weight: normal;
    line-height: 1.8;
    margin-bottom: 35px;
    color: #413033;

    @include responsive-font(25, 14);
    @include max(768) {
      margin-bottom: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
