//.main-wrap {
//  //if header STICKY
//  padding-top: 50px;
//}
//
//.header {
//  position: fixed;
//  z-index: 10;
//  top: 0;
//  left: 0;
//  display: flex;
//  width: 100%;
//  min-height: 50px;
//  transition: top .4s;
//  background-color: $brand;
//  .container {
//    display: flex;
//    align-items: center;
//  }
//}
//
//.header--scroll-down {
//  top: -100px;
//}

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  .container {
    display: flex;
    align-items: flex-start;
    padding-top: 70px;

    @include max(1024) {
      padding-top: 30px;
    }
  }
}

.header--dark {
  .header__logo svg {
    fill: $text;
  }
  .header__phone,
  .header__email {
    color: $text;
    &:hover {
      color: $text;
    }
  }
}

.header__logo {
  flex: none;
  margin-right: 75px;

  @include max(1600) {
    margin-right: 50px;
  }
  @include max(1400) {
    margin-right: 90px;
  }
  @include max(768) {
    margin-right: 50px;
  }
  @include max(540) {
    margin-right: 0;
  }
  svg {
    fill: #fff;
    width: 170px;
    height: 183px;

    @include max(768) {
      width: 100px;
      height: 105px;
    }
    @include max(540) {
      fill: #fff;
    }
    @include max(375) {
      width: 80px;
      height: 84px;
    }
  }
}

.header__contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  text-align: right;
  @include max(540) {
    display: none;
  }
}

.header__phone {
  font-family: $font-title;
  line-height: 1.4;
  text-align: right;
  white-space: nowrap;
  text-transform: uppercase;
  color: #fff;

  @include responsive-font(25, 16);
  @include max(540) {
    margin-top: 60px;
  }
}

.header__email {
  font-family: $font;
  font-size: 15px;
  line-height: 1.3;
  text-align: right;
  white-space: nowrap;
  color: #fff;

  @include responsive-font(15, 13);
}
