//.main-wrap {
//  //if header STICKY
//  padding-top: 50px;
//}
//
//.header {
//  position: fixed;
//  z-index: 10;
//  top: 0;
//  left: 0;
//  display: flex;
//  width: 100%;
//  min-height: 50px;
//  transition: top .4s;
//  background-color: $brand;
//  .container {
//    display: flex;
//    align-items: center;
//  }
//}
//
//.header--scroll-down {
//  top: -100px;
//}

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  .container {
    display: flex;
    padding-top: 70px;

    @include max(1024) {
      padding-top: 30px;
    }
  }
}

.header__logo {
  flex: none;
  svg {
    fill: $text;
    width: 170px;
    height: 183px;

    @include max(768) {
      width: 100px;
      height: 105px;
    }
  }
}

//begin #MENU
.menu {
  padding-left: 75px;

  @include max(1600) {
    padding-left: 50px;
  }
  @include max(1400) {
    display: none;
  }
}

.menu__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu__item {
  padding: 0 22px;
  list-style: none;

  @include max(1600) {
    padding: 0 15px;
  }
}

.menu__link {
  font-family: $font-bold;
  font-size: 18px;
  line-height: 1.11;
  position: relative;
  display: inline-block;
  padding: 0 0 22px 0;
  white-space: nowrap;
  color: #fff;
  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    margin: auto;
    content: '';
    transition: $transition-hover;
    background-color: #fff;
  }
  &:hover {
    color: #fff;
    &::before {
      width: 100%;
    }
  }
}

//end #MENU

.header__contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  text-align: right;
}

.header__phone {
  font-family: $font-title;
  line-height: 1.4;
  text-align: right;
  white-space: nowrap;
  text-transform: uppercase;
  color: #fff;

  @include responsive-font(25, 18);
}

.header__email {
  font-family: $font;
  font-size: 15px;
  line-height: 1.3;
  text-align: right;
  white-space: nowrap;
  color: #fff;
}
