.index-skin {
  .container {
    display: flex;
    align-items: center;

    @include max(540) {
      flex-direction: column-reverse;
    }
  }
}

.index-skin__img {
  flex: none;
  width: 50%;

  @include max(540) {
    width: 100%;
    margin-bottom: 30px;
  }
  img {
    display: block;
    width: 100%;
  }
}

.index-skin__title {
  line-height: 1.75;
  width: 50%;
  max-width: 600px;
  margin-bottom: 0;
  transform: translateX(-100px);
  color: #413033;

  @include responsive-font(40, 20);
  @include max(1024) {
    line-height: 1.4;
    transform: translateX(-50px);
  }
  @include max(540) {
    width: 100%;
    margin-bottom: 30px;
    transform: translateX(0);
    text-align: center;
  }
}