.index-second {
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 150px;
    padding-bottom: 150px;

    @include max(1024) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @include max(768) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

.index-second-item {
  position: relative;
  overflow: hidden;
  width: calc(33.33% - 53px);

  @include max(1400) {
    width: calc(33.33% - 25px);
  }
  @include max(768) {
    width: calc(50% - 15px);
    margin-bottom: 30px;
    &:last-child {
      margin: 0 auto;
    }
  }
  @include max(540) {
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  &:hover {
    .index-second-item__title {
      pointer-events: none;
      opacity: 0;
    }
    .index-second-item__descr {
      pointer-events: auto;
      opacity: 1;
    }
  }
}

.index-second-item__title {
  font-size: 45px;
  line-height: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 70px;
  transition: opacity $transition-hover;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  @include max(1400) {
    font-size: 35px;
    margin-bottom: 45px;
  }
  @include max(1024) {
    font-size: 28px;
    margin-bottom: 25px;
  }
  @include max(540) {
    font-size: 35px;
  }
}

.index-second-item__descr {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity $transition-hover;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(65, 48, 51, .3);
}

.index-second-item__descr-text {
  font-size: 25px;
  line-height: 1.6;
  width: 90%;
  max-width: 350px;
  text-align: center;
  color: #fff;

  @include max(1024) {
    font-size: 20px;
    line-height: 1.3;
  }
  @include max(768) {
    font-size: 25px;
    line-height: 1.6;
  }
  @include max(540) {
    font-size: 22px;
    line-height: 1.4;
  }
}
