.medical-top {
  position: relative;
  display: flex;

  @include max(540) {
    flex-direction: column;
  }
}

.medical-top__left {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: 100vh;
  background-color: #fff;

  @include max(540) {
    position: relative;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 150px;
    padding-bottom: 50px;
    background-color: #f8f8f8;
  }
  &.fixed {
    position: fixed;

    @include max(540) {
      position: relative;
    }
  }
}

.medical-top__left-inn {
  width: 100%;
  //max-width: 430px;
  //margin-left: 100px;
  max-width: 745px;
  padding-left: 100px;

  @include max(1024) {
    padding-right: 25px;
    padding-left: 50px;
  }
  @include max(768) {
    padding-right: 15px;
    padding-left: 30px;
  }
  @include max(540) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
  }
}

.medical-top__title {
  font-weight: 500;
  line-height: 1.67;
  margin-bottom: 70px;
  text-transform: uppercase;
  color: #413033;

  @include responsive-font(45, 25);
  @include max(1024) {
    margin-bottom: 30px;
  }
  @include max(540) {
    margin-bottom: 15px;
  }
}

.medical-top__right {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;

  @include max(540) {
    width: 100%;
  }
}

.medical-top__right-img {
  display: flex;
  height: 100vh;

  @include max(540) {
    position: relative;
    height: auto;
  }
  img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.medical-top__right-bottom {
  padding: 150px 100px 120px 100px;

  @include max(1024) {
    padding: 100px 50px 100px 50px;
  }
  @include max(768) {
    padding: 50px 30px 50px 30px;
  }
  p {
    font-family: $font;
    font-weight: normal;
    line-height: 1.6;
    color: #413033;

    @include responsive-font(25, 14);
  }
}

.medical-top__right-bottom-article{
  margin-bottom: 150px;
  @include max(1024) {
    margin-bottom: 100px;
  }
  @include max(768) {
    margin-bottom: 50px;
  }
  &:last-child{
    margin-bottom: 0 !important;
  }
}

.medical-top__right-title {
  font-family: $font-title;
  font-weight: 500;
  line-height: 1.75;
  color: #413033;

  @include responsive-font(40, 20);
}

.medical-top__right-btn {
  font-family: $font;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-top: auto;
  text-decoration: none;
  color: #413033;
  border-bottom: 1px solid $text;


}

.medical-top__right-bottom-img {
  margin-bottom: 75px;

  @include max(768) {
    margin-bottom: 50px;
  }
  img {
    display: block;
    width: 100%;
  }
}

//begin #DECOR

.medical-top__decor {
  position: absolute;
  top: calc(100vh - 50px);
  right: 0;
  left: 0;
  width: 100%;
  max-width: 430px;
  height: 101px;
  margin: auto;
  pointer-events: none;

  @include max(540) {
    top: auto;
    bottom: 0;
    max-width: 280px;
    height: 88px;
    transform: translateY(50%);
  }
}

.medical-top__decor-line {
  position: relative;
  width: 100%;
  height: 1px;
  transform: translateY(1px);
  &.active {
    &::before {
      animation: lineDraw 1s linear forwards .5s;
    }
  }
  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    margin: auto;
    content: '';
    background-color: $text;
  }
}

.medical-top__decor-circle {
  fill: transparent;
  stroke: $text;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  pointer-events: none;

  stroke-dasharray: 311;
  stroke-dashoffset: 311;
  @include max(540) {
    width: 80px;
    height: 80px;
  }
  &.active {
    animation: svgDraw 1s linear forwards 1.5s;
  }
}

//end #DECOR