.sales-second {
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 150px;
    padding-bottom: 150px;

    @include max(1024) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @include max(768) {
      padding-top: 80px;
      padding-bottom: 50px;
    }
  }
}

.sales-second__item {
  position: relative;
  width: calc(33.33% - 53px);
  margin-bottom: 50px;

  @include max(1600) {
    width: calc(33.33% - 25px);
  }
  @include max(1200) {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  //@include max(768) {
  //  width: calc(50% - 15px);
  //  margin-bottom: 30px;
  //  &:last-child {
  //    margin: 0 auto;
  //  }
  //}
  @include max(540) {
    flex-direction: column;
  }
}

.sales-second__item-date {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 205px;
  height: 40px;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .5);
  span {
    font-family: $font-bold;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .15em;
    color: #413033;
  }
}

.sales-second__item-img {
  position: relative;
  margin-bottom: 57px;

  @include max(1200) {
    flex: none;
    margin-right: 50px;
    margin-bottom: 0;
  }
  @include max(768) {
    margin-right: 30px;
  }
  @include max(540) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;

    @include max(1200) {
      width: 300px;
      height: 300px;
    }
    @include max(768) {
      width: 250px;
      height: 250px;
    }
    @include max(540) {
      width: 100%;
      height: auto;
    }
  }
}

.sales-second__item-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #e3e3f5;
}

.sales-second__item-left-title {
  font-family: $font-title;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.86;
  max-width: 170px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #413033;

  @include responsive-font(35, 18);
  @include max(1400) {
    padding-left: 10px;

    @include responsive-font(30, 18);
  }
}

.sales-second__item-img-title {
  font-family: $font-title;
  font-weight: 500;
  line-height: 1.86;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  @include responsive-font(35, 18);
  @include max(1400) {
    @include responsive-font(30, 18);
  }
  span {
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;

    @include responsive-font(120, 60);
    @include max(1400) {
      @include responsive-font(100, 60);
    }
  }
}

.sales-second__item-descr {
  p {
    font-family: $font;
    font-weight: normal;
    line-height: 1.6;
    color: #413033;

    @include responsive-font(25, 14);
  }
}

.sales-second__item-title {
  font-family: $font-title;
  font-weight: 500;
  line-height: 1.75;
  margin-bottom: 30px;
  color: #413033;

  @include responsive-font(40, 20);
  @include max(1200) {
    transform: translateY(-7px);
  }
  @include max(768) {
    margin-bottom: 0;
  }
}

.sales-second__footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 50px;

  @include max(768) {
    padding-top: 30px;
  }
}

//begin #DECOR
.sales-second__decor-line {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: calc(100% - 200px);
  height: 1px;
  margin: auto;
  pointer-events: none;

  @include max(1024) {
    width: calc(100% - 100px);
  }
  @include max(768) {
    width: calc(100% - 60px);
  }
  &.active {
    &::before {
      animation: lineDraw 1s linear forwards .5s;
    }
  }
  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    margin: auto;
    content: '';
    background-color: $text;
  }
}

//end #DECOR
