.sales-second {
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 150px;
    padding-bottom: 150px;

    @include max(1024) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @include max(768) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}

.sales-second__item {
  position: relative;
  width: calc(33.33% - 53px);
  margin-bottom: 50px;
}

.sales-second__item-date {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: calc(50% - 40px);
  height: 40px;
  padding: 0 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, .5);
  span {
    font-family: $font-bold;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .15em;
    color: #413033;
  }
}

.sales-second__item-img {
  position: relative;
  margin-bottom: 57px;
  img {
    width: 100%;
    height: 520px;
    object-fit: cover;
    object-position: center;
  }
}

.sales-second__item-left {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 520px;
  background-color: #e3e3f5;
}

.sales-second__item-left-title {
  font-family: $font-title;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.86;
  max-width: 170px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #413033;

  @include responsive-font(35, 18);
}

.sales-second__item-img-title {
  font-family: $font-title;
  font-weight: 500;
  line-height: 1.86;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  @include responsive-font(35, 18);
  span {
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;

    @include responsive-font(120, 80);
  }
}

.sales-second__item-descr {
  p {
    font-family: $font;
    font-weight: normal;
    line-height: 1.6;
    color: #413033;

    @include responsive-font(25, 14);
  }
}

.sales-second__item-title {
  font-family: $font-title;
  font-weight: 500;
  line-height: 1.75;
  color: #413033;

  @include responsive-font(40, 20);
}

.sales-second__footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
}

//begin #DECOR
.sales-second__decor-line {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: calc(100% - 200px);
  height: 1px;
  margin: auto;
  pointer-events: none;

  @include max(1024) {
    width: calc(100% - 100px);
  }
  @include max(768) {
    width: calc(100% - 60px);
  }
  &.active {
    &::before {
      animation: lineDraw 1s linear forwards .5s;
    }
  }
  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    margin: auto;
    content: '';
    background-color: $text;
  }
}

//end #DECOR
