//begin cosmetics-slogan
.cosmetics-slogan
  .container.animate__animated
    .cosmetics-slogan__inn
      h2.cosmetics-slogan__title No traces or scar tissue
      .cosmetics-slogan__descr
        p PDO is absorbable, and within 4 to 6 months, there are no traces of it and no scar tissue. Through this, the collagen starts producing, and the skin structure lifts with Nova Threads for the next 12 to 15 months. No cuts or incisions are made, just some injections like fillers and voila!
  //begin decor
  .cosmetics-slogan__decor.animate-decor
    .cosmetics-slogan__decor-diagonal.animate-decor
      include ../../elements/decor-diagonal-lg
  //end decor
//end cosmetics-slogan