//begin cosmetics-articles
.cosmetics-articles
  .container.animate__animated
    .cosmetics-articles__inn
      //begin cosmetic-article
      .cosmetic-article.animate__animated
        .cosmetic-article__img-wrap
          .cosmetic-article__img
            img(src="assets/img/cosmetic-article-01.jpg" alt="picture")
        .cosmetic-article__text
          h3.cosmetic-article__title We Use Nova Threads
          p The Nova Threads are needles containing several types of PDO threads. These threads are injected in the tissues in a way to remain parallel with the skin surface and provide a supportive network.
      //end cosmetic-article

      //begin cosmetic-article
      .cosmetic-article.animate__animated
        .cosmetic-article__img-wrap
          a(href="https://youtu.be/6eVdG9WpH4s" data-fancybox="gallery").cosmetic-article__img.cosmetic-article__img--sm.cosmetic-article__img--video
            img(src="assets/img/cosmetic-article-02.jpg" alt="picture")
        .cosmetic-article__text
          h3.cosmetic-article__title We Use Nova Threads
          p The Nova Threads are needles containing several types of PDO threads. These threads are injected in the tissues in a way to remain parallel with the skin surface and provide a supportive network.
      //end cosmetic-article

  //begin decor
  .cosmetics-articles__decor.animate-decor
    .cosmetics-articles__decor-circle.animate-decor
      include ../../elements/decor-circle-100
  //end decor
//end cosmetics-articles