//begin cosmetics-slider
//.cosmetics-slider.animate__animated
//.cosmetics-slider
  ul.cosmetics-slider__list#cosmetics-slider__list
    li.cosmetics-slider__list-item(style='background-color: #759;')
      //-img(src="assets/img/temp-slider.jpg" alt="picture")
      h1 #1
    li.cosmetics-slider__list-item(style='background-color: #486;')
      //-img(src="assets/img/temp-slider.jpg" alt="picture")
      h1 #2
    li.cosmetics-slider__list-item(style='background-color: #741;')
      h1 #3
//end cosmetics-slider