//begin cosmetics-warning
.cosmetics-warning
  .container.animate__animated
    .cosmetics-warning__inn
      //begin cosmetics-warning__left
      .cosmetics-warning__left
        h2.cosmetics-warning__title Side Effects Related to PDO Thread Lift
      //end cosmetics-warning__left

      //begin cosmetics-warning__right
      .cosmetics-warning__right
        h3.cosmetics-warning__list-title Side effects are not so common, but some people may experience the following:
        ul.cosmetics-warning__list
          li.cosmetics-warning__item Swelling
          li.cosmetics-warning__item Foreign body reaction/granuloma
          li.cosmetics-warning__item Facial nerve trauma
          li.cosmetics-warning__item Bruising
          li.cosmetics-warning__item Pain
          li.cosmetics-warning__item Asymmetry
          li.cosmetics-warning__item Infection
          li.cosmetics-warning__item Migration
      //end cosmetics-warning__right
//end cosmetics-warning