//begin cosmetics-compare
.cosmetics-compare
  .container.animate__animated
    .cosmetics-compare__img
      .cosmetics-compare__img-before
        img(src="assets/img/before.jpg" alt="picture")
        h3.cosmetics-compare__img-title Before
      .cosmetics-compare__img-after
        img(src="assets/img/after.jpg" alt="picture")
        h3.cosmetics-compare__img-title After
    .cosmetics-compare__descr
      p Thread lift therapy is a modern way of traditional acupuncture therapy where the target is to control and improve the tissue stimulation and muscle contraction.
      p These threads are polydioxanone (PDO) filaments that have previously have been used in cardiothoracic surgeries.
//end cosmetics-compare