//begin header
header.header.header--dark#header
  .container
    a(href="/").header__logo
      +svg('logo')

    include ../elements/burger
    include ../elements/menu

    .header__contacts
      a(href="tel:8456348800").header__phone 845 634 8800
      a(href="mailto:hello@rocklandbeauty.com").header__email hello@rocklandbeauty.com
//end header