//begin index-top
.index-top
  .container
    h2.index-top__title Dermatology<br>and cosmetic treatments tailored for your skin
    button.btn.btn--transparent Schedule Appointment
    .index-top__decor
      svg.index-top__decor-line
        use(xlink:href="assets/img/sprite.svg#index-top-line")
      svg.index-top__decor-circle
        use(xlink:href="assets/img/sprite.svg#index-top-circle")
//end index-top