//begin index-about
.index-about
  .container.animate__animated
    .index-about__img
      img(src="assets/img/index-about.jpg" alt="picture")
    .index-about__right
      h3.index-about__title We have more than 20 years of medical experience to help you feel and look your best
      span.index-about__descr We’re here to create and implement an individualized treatment program for you to feel blissful, happy, and beautiful.
      a(href="#").btn.btn--transparent Learn More
//end index-about