//begin index-top
.index-top
  .container.animate__animated
    h2.index-top__title Dermatology<br>and cosmetic treatments tailored for your skin
    button.btn.btn--transparent Schedule Appointment

    //begin decor
    .index-top__decor
      .index-top__decor-line.animate-decor
      .index-top__decor-circle.animate-decor
        include ../elements/decor-circle-100
    //end decor
//end index-top