//begin index-skin
.index-skin
  .container
    .index-skin__img
      img(src="assets/img/index-skin.jpg" alt="picture")
    h3.index-skin__title Receive the perfect solution for your skin and your soul
//end index-skin