.popup__layer#popup__layer

//begin popup-share
.popup.popup-share#popup-share
  .popup__close
    +svg('close')
  .popup-share__body
    h3.popup-share__title Share

    //begin popup-share__social-list
    ul.popup-share__social-list
      li.popup-share__social-item
        a(href="#").popup-share__social-link
          +svg('share-fb')
      li.popup-share__social-item
        a(href="#").popup-share__social-link
          +svg('share-tw')
      li.popup-share__social-item
        a(href="#").popup-share__social-link
          +svg('share-ln')
      li.popup-share__social-item
        a(href="#").popup-share__social-link
          +svg('share-vk')
    //end popup-share__social-list

    .popup-share__link
      .popup-share__link-icon
        +svg('link')
      .popup-share__link-text
        span https://monosnap.com/direct/BlJ18HxT
//end popup-share

//begin popup-callback
.popup.popup-callback#popup-callback
  .popup__close
    +svg('close')
  .popup-callback__body
    h2.contacts-form__title Сall Back Request

    //begin contacts-form__form
    form.contacts-form__form
      input(type='text' placeholder='Name').contacts-form__form-input
      input(type='tel' placeholder='Phone Number').contacts-form__form-input
      input(type='submit' value='Call Me').contacts-form__form-submit.btn.btn--transparent
    //end contacts-form__form
//end popup-callback