*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font;
  font-size: 16px;
  line-height: 1.38;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: 400;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 10px 0;
  strong {
    font-family: $font-bold;
  }
}

a {
  transition: color $transition-hover;
  text-decoration: none;
  color: $link;
  &:hover {
    color: $link-hov;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

ul {
  li {
    // путь к кастомной картинке пункта ul
    // list-style-image: url('../img/ul.png');
  }
}

//кастомные пункты списка с цифрами
ol {
  // list-style: none;
  // @include counter(li);
  li::before {
    // color: $brand;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

input {
  font-size: 16px;
  padding: 0 0 2px 0;
  color: $text;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid $text;
  border-left: 1px solid transparent;
  background-color: transparent;

  @include placeholder-color($text);
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  //свойство для исправления бага 100vh для мобильных
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height:         fill-available;
  //свойство для плавной прокрутки на яблоках

  -webkit-overflow-scrolling: touch;
  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  background-color: #f8f8fb;

  flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 100px;

  @include max(1024) {
    padding: 0 50px;
  }
  @include max(768) {
    padding: 0 30px;
  }
}

@keyframes lineDraw {
  to {
    width: 100%;
  }
}

@keyframes svgDraw {
  to {
    stroke-dashoffset: 0;
  }
}

.animate-decor {
  @include max(540) {
    display: none;
  }
}

.animate__animated {
  opacity: 0;
}
