@font-face {
  font-family: HelveticaNowDisplay-Regular;
  src:  url('../fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Regular.woff')  format('woff');
}

@font-face {
  font-family: HelveticaNowDisplay-Medium;
  src:  url('../fonts/HelveticaNowDisplay-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Medium.woff')  format('woff');
}

@font-face {
  font-family: Hatton-Medium;
  src:  url('../fonts/Hatton-Medium.woff2') format('woff2'),
        url('../fonts/Hatton-Medium.woff')  format('woff');
}
