extends ../_template

block variables
  - var title       = 'Rockland'
  - var description = 'Rockland'

  - var pageHeaderTitle = ''
  - var breadcrumbs     = 'breadcrumbs link'

block content
  .main-wrap.no-js
    //-include ../sections/header

    //begin content
    main.main.index
      include ../sections/index-top
      include ../sections/index-second
      .index-third
        include ../sections/index-skin
        include ../sections/index-procedure
    //end content

    include ../sections/footer
    include ../sections/scripts
