// core
@import 'core/fonts';
@import 'core/variables';
@import 'core/mixins';
@import 'core/base';

//elements
@import 'elements/btns';
//@import 'elements/burger';
//@import 'elements/breadcrumbs';
//@import 'elements/pagination';
//@import 'elements/popup';
@import 'elements/slickBase';

//section
@import 'sections/header';
@import 'sections/footer';

@import 'sections/index-top';
@import 'sections/index-second';
@import 'sections/index-skin';
@import 'sections/index-procedure';
@import 'sections/index-men';
@import 'sections/index-about';
@import 'sections/index-reviews';
@import 'sections/index-inst';

@import 'sections/cosmetics-compare';
@import 'sections/cosmetics-slogan';
@import 'sections/cosmetics-articles';
@import 'sections/cosmetics-slider';
@import 'sections/cosmetics-warning';

@import 'sections/about-skin';
@import 'sections/about-slogan';
@import 'sections/about-experience';
@import 'sections/about-articles';
@import 'sections/about-banner';

@import 'sections/sales-second';

@import 'sections/blog-header';
@import 'sections/blog-second';

//pages
@import 'pages/sales';
