//begin index-top
.index-top(style='background-image: url(\'assets/img/bg-sales-top.jpg\')')
  .container.animate__animated
    .container__inn
      h2.index-top__title SPECIALS
      button.btn.btn--transparent Schedule Appointment

    //begin decor
    .index-top__decor
      .index-top__decor-line.animate-decor
      .index-top__decor-circle.animate-decor
        include ../../elements/decor-circle-100
    //end decor
//end index-top