//begin medical-steps
.medical-steps
  .container
    .medical-steps__inn
      h2.medical-steps__title The Steps of the Procedure
      span.medical-steps__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      //begin medical-steps__slider
      ul.medical-steps__slider#medical-steps__slider
        li.medical-steps__slider-item
          h3.medical-steps__slider-title Step #01
          .medical-steps__slider-descr
            p The process contains the small opening of that area of the skin to remove the contents and the sac of the cysts, called excision.
        li.medical-steps__slider-item
          h3.medical-steps__slider-title Step #02
          .medical-steps__slider-descr
            p The patient is put on local anesthetic and some stitches, which eventually get removed.
        //-li.medical-steps__slider-item
          h3.medical-steps__slider-title Step #03
          .medical-steps__slider-descr
            p Cysts reappear in rare cases, and if they do so, further treatment is needed.
        //-li.medical-steps__slider-item
          h3.medical-steps__slider-title Step #04
          .medical-steps__slider-descr
            p Cysts reappear in rare cases, and if they do so, further treatment is needed.
      //end medical-steps__slider
//end medical-steps