//begin medical-top
.medical-top
  //begin medical-top__left
  .medical-top__left#medical-top__left.animate__animated.fixed
    .medical-top__left-inn
      h2.medical-top__title Cysts Removal
      button.btn.btn--white Schedule Appointment
  //end medical-top__left

  //begin medical-top__right
  .medical-top__right#medical-top__right
    .medical-top__right-img.animate__animated
      img(src="assets/img/medical-01.jpg" alt="picture")
      //begin decor
      .medical-top__decor
        .medical-top__decor-line.animate-decor
        .medical-top__decor-circle.animate-decor
          include ../../elements/decor-circle-100
      //end decor
    .medical-top__right-bottom.animate__animated
      .medical-top__right-bottom-article
        h3.medical-top__right-title What are Cysts?
        p A cutaneous cyst gets semi-fluid material in it and is like a lesion forming a cavity under the skin.
        p A cutaneous cyst gets semi-fluid material in it and is like a lesion forming a cavity under the skin.
        p A cutaneous cyst gets semi-fluid material in it and is like a lesion forming a cavity under the skin.
        p A cutaneous cyst gets semi-fluid material in it and is like a lesion forming a cavity under the skin.
        a(href="#").medical-top__right-btn Learn more

      .medical-top__right-bottom-article
        h3.medical-top__right-title Cysts Removal is Easy and Safe
        .medical-top__right-bottom-img.animate__animated
          img(src="assets/img/medical-02.jpg" alt="picture")
        p Even though cysts can be left untreated for years, if the cyst is small, it can easily be removed with minor surgery without any significant treatment. Larger ones, if reach towards inflammation or infection, that’s when they get removed.
  //end medical-top__right

//end medical-top