//begin about-articles
.about-articles
  .container
    //begin about-articles__item
    .about-articles__item.animate__animated
      .about-articles__img
        img(src="assets/img/about-articles-01.jpg" alt="picture")
        h3.about-articles__title Personal and delicate approach
      .about-articles__text
        p We know that cosmetic procedures are incredibly personal to you, and we want to give the kind of care that a personal friend would. Our industry is growing, and Dr. Kotlyar and her team know the importance that our procedures can have on the world. When people look and feel their best, anything is possible, and we help our patients achieve their ideal outcome through non-invasive, non-surgical procedures.
    //end about-articles__item

    //begin about-articles__item
    .about-articles__item.animate__animated
      .about-articles__img
        img(src="assets/img/about-articles-02.jpg" alt="picture")
        h3.about-articles__title Professional response<br>to the marks of time
      .about-articles__text
        p Whether you need to help reduce the appearance of marks of time, such as fine lines, wrinkles, and crow’s feet or want to help remove stubborn body fat, we can help. At Rockland Beauty, we specialize in various procedures and products, including Botox®, dermal fillers, Kybella®, lip injections, platelet-rich plasma (PRP) injections, and skincare advice and medical-grade skincare products.
    //end about-articles__item
//end about-articles