//begin index-top
.index-top(style='background-image: url("assets/img/bg-about-top.jpg")')
  .container.animate__animated
    h2.index-top__title YOUR HEALTH, WELLNESS, AND SELF-WORTH<br>IS OUR TOP PRIORITY
//end index-top