//begin about-slogan
.about-slogan
  .container.animate__animated
    .about-slogan__inn
      .about-slogan__left
        p For many people, how they look in the mirror dramatically affects how they hold themselves, their choice of clothes, and what they feel is their self-worth
      .about-slogan__right
        p We strongly believe that beauty is in the eye of the beholder, and every one offers something unique and valuable to the world. However, we know that cosmetic concerns play a crucial role in your confidence, and we’re here to provide the services and procedures you need so you can feel 100% authentic, beautiful, and happy.
  //begin decor
  .about-slogan__decor.animate-decor
    .about-slogan__decor-diagonal.animate-decor
      include ../../elements/decor-diagonal-lg
  //end decor
//end about-slogan