//begin about-banner
.about-banner
  .container.animate__animated
    //begin decor
    .index-top__decor
      .index-top__decor-line.animate-decor
      .index-top__decor-circle.animate-decor
        include ../../elements/decor-circle-100
    //end decor

    h2.about-banner__title Trust our expertise, guidance, and compassion to help guide you through the entire process from the initial consolation to completion
//end about-banner