//begin about-experience
.about-experience
  .container.animate__animated
    .about-experience__inn
      .about-experience__text
        h2.about-experience__title Two decades of medical experience
        p Dr. Kotlyar founded Rockland Beauty and brought over two decades worth of medical experience and knowledge. We leverage our understanding and expertise to provide exceptional results.
      .about-experience__img
        img(src="assets/img/about-experience.jpg" alt="picture")

  //begin decor
  .about-experience__decor.animate-decor
    .about-experience__decor-circle.animate-decor
      include ../../elements/decor-circle-200
  //end decor
//end about-experience